body{
    padding: 0;
    margin: 0;
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background: black;
        color: white;
        margin: 0;
        &:nth-child(even){
            background: white;
            color: black;
        }
        h1{
            font-family: Montserrat;
            text-align: center;
            width: 65vw;
            font-size: calc(2vw + 2vh);
        }
    }
    .main{
        background: #3498db;
        img{
            width: 65vw;
        }
    }
}
