body{
    padding: 0;
    margin: 0;
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        color: white;
        margin: 0;
        &:nth-child(even){
            color: black;
        }
        h1{
            font-family: Montserrat;
            text-align: center;
            width: 65vw;
            font-size: calc(2vw + 2vh);
        }
    }
    .main{
        background-image: url("../images/tlo_new.png");
        background-size: cover; 
        background-position-y: bottom;
        z-index: 99;
        img{
            width: 65vw;
        }
        button{
            position: absolute;
            bottom: 15%;
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            outline: none;
            font-size: 100%;
            border: white solid 3px;
            background: transparent;
            color: white;
            cursor: pointer;
            &:hover{
                background: white;
                color: black;
            }
            transition: background .3s, color .3s;
        }
    }
    .sklep{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-image: url(./images/Shiny_Overlay.svg);
        background-size: cover;
        box-shadow: inset 0 0 15px 2px #0985e386;
        .left_half, .right_half{
            height: 100%;
            width: 50%;
        }
        .left_half{
            display: flex;
            justify-content: center;
            align-items: center;
            //background: red;
            height: 100vh;
            width: 50%;
            img{
                width: 80%;
                margin: 0;
                padding: 0;
                animation: up_down 3s alternate infinite ease-in-out;
                filter: drop-shadow(5px 5px 10px rgb(78, 78, 78));
            }
        } 
        .right_half{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;   
            .opis{    
                top: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-image: url(/images/tablet_bg.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                font-family: 'Samsung Sharp Sans';
                color: black;
                height: 90vh;
                width: 42vw;
                //border-radius: 20px;
                .text{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    background: red;
                    h1{
                        width: 60%;
                    }
                    p{
                        width: 35rem;
                    }
                } 
            }
        }
    }
}

@keyframes up_down{
    to{
        transform: translateY(-30px);
    }
}